<div class="wrapSkills">
	<div class="row expanded">
		<div class="small-12 large-10 large-offset-2 columns">
			<div class="row">
				<div class="small-12 columns">
					<h3>Skills</h3>
					<div class="flexWrap">
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_html.svg" alt="html5" />
							</div>
							<h4><span class="caps">html</span>5</h4>
						</div>
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_js.svg" alt="es6 javascript" />
							</div>
							<h4><span class="caps">es</span>6 JavaScript</h4>
						</div>
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_angular.svg" alt="angular" />
							</div>
							<h4>Angular<span class="caps">js</span></h4>
						</div>
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_sass.svg" alt="scss" />
							</div>
							<h4>Scss</h4>
						</div>
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_node.svg" alt="node.js" />
							</div>
							<h4>Node.js</h4>
						</div>
						<div class="flexItem txtCenter">
							<div class="wrapLogo">
								<img src="assets/img/logo_aws.svg" alt="aws" />
							</div>
							<h4><span class="caps">AWS</span></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.wrapSkills -->
