<div class="wrapSkills">
	<div class="row">
		<div class="small-12 columns">
			<div class="flexWrap">
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_html.svg" alt="html5" />
					</div>
					<h3><span class="caps">html</span>5</h3>
				</div>
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_js.svg" alt="es6 javascript" />
					</div>
					<h3><span class="caps">es</span>6 JavaScript</h3>
				</div>
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_angular.svg" alt="angular" />
					</div>
					<h3>Angular<span class="caps">js</span></h3>
				</div>
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_sass.svg" alt="scss" />
					</div>
					<h3>Scss</h3>
				</div>
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_node.svg" alt="node.js" />
					</div>
					<h3>Node.js</h3>
				</div>
				<div class="flexItem txtCenter">
					<div class="wrapLogo">
						<img src="assets/img/logo_aws.svg" alt="aws" />
					</div>
					<h3><span class="caps">AWS</span></h3>
				</div>
			</div><!-- /.flexWrap -->
		</div>
	</div><!-- /.row -->
</div>
