.caps {
	text-transform: uppercase;
}

.txtCenter {
	text-align: center;
}

ul {
	list-style-type: none;
	list-style: none;
	padding-left: 0;
}

a {

	&:focus {
		outline: none;
	}
}

.noScroll {
	overflow: hidden;
}

.hidden {
	opacity: 0;
}

.aniY {
	opacity: 0;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	transform: translateY(-30px);
}
