@import "../../../../assets/scss/vars.scss";
@import "../../../../assets/scss/nav.scss";

#home {
	width: 100%;
	max-height: 750px;
	background: url('https://res.cloudinary.com/tripstar/image/upload/v1501621691/bg_blue_hpw6cq.png') repeat top left;
	top: 0;
	z-index: 1;
}

.wrapContent {
	position: relative;
}

#navHero {
	display: none;

	@media (min-width: $screenLG) {
		display: block;
	}

	nav {

		@media (min-width: $screenLG) {
			position: absolute;
			z-index: 4;
			padding-left: 60px;
		}
	}

	a {
		color: $white;
	}
}

.wrapTypeLock {
	width: 200px;
	padding-top: 32px;
	margin: 0 auto;

	@media (min-width: 375px) {
		padding-top: 67px;
	}

	@media (min-width: 414px) {
		width: 2;
		padding-top: 77px;
	}

	@media (min-width: 768px) {
		width: 330px;
	}

	@media (min-width: $screenLG) {
		width: 300px;
		padding-top: 50px;
	}

	svg {
		width: 100%;
	}
}

.wrapScrollIndicator {
	width: 50px;
	position: absolute;
	bottom: 75px;
	left: 50%;
	-webkit-transform: translateX(-25px);
	-moz-transform: translateX(-25px);
	transform: translateX(-25px);

	img {
		-webkit-animation: aniScroll 1.5s infinite;
		-moz-animation: aniScroll 1.5s infinite;
		animation: aniScroll 1.5s infinite;
	}
}

// animate scroll indicator
@-webkit-keyframes aniScroll {
	0%, 20%, 50%, 80%, 100% {
    	-webkit-transform: translateY(0);
	}
	40% {
    	-webkit-transform: translateY(-30px);
  	}
	60% {
    	-webkit-transform: translateY(-15px);
  	}
}
@-moz-keyframes aniScroll {
	0%, 20%, 50%, 80%, 100% {
    	-moz-transform: translateY(0);
	}
	40% {
    	-moz-transform: translateY(-30px);
  	}
	60% {
    	-moz-transform: translateY(-15px);
  	}
}
@keyframes aniScroll {
	0%, 20%, 50%, 80%, 100% {
    	transform: translateY(0);
	}
	40% {
    	transform: translateY(-30px);
  	}
	60% {
    	transform: translateY(-15px);
  	}
}

.home {
	position: relative;
}
