@import "../../../assets/scss/vars.scss";
@import "../../../assets/scss/nav.scss";
@import "../../../assets/scss/txt.scss";

footer {
	background: $black;
	padding-bottom: 60px;

	@media (min-width: $screenLG) {
		background: $black url('../../../assets/img/trip_logo_secondary_gunmetal.svg') no-repeat 105% 296%;
		background-size: 270px 270px;
		padding-bottom: 90px;
	}

	nav {

		@media (min-width: $screenLG) {
			padding-left: 45px;
		}

		li {
			font-size: 1em;
			padding-bottom: 7px;
		}

		a {
			color: $white;

			&:visited {
				color: $white;
			}
		}
	}
}

.lead {
	color: $white;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}

ul {

	li {
		font-size: 0.8em;
		padding-bottom: 15px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	a {
		color: $white;
		font-family: 'Roboto Mono', monospace;
		font-weight: 400;

		&:visited {
			color: $white;
		}
	}
}

h6 {
	color: $white;
}
