<footer>
	<div class="row">
		<div class="small-12 columns">
			<h6></h6>
		</div>
	</div><!-- /.row -->
	<div class="row">
		<div class="small-12 medium-4 columns">
			<p class="lead">Contact</p>
			<ul>
				<li><a href="mailto:trip.pruitt@gmail.com?Subject=Hello">trip.pruitt&#64;gmail.com</a></li>
				<li href="tel:14047311659"><a href="">404.731.1659</a></li>
			</ul>
		</div>
		<div class="small-12 medium-4 columns">
			<p class="lead">Social</p>
			<ul>
				<li><a href="https://www.linkedin.com/in/trip-pruitt-430b2b58" target="_blank">LinkedIn</a></li>
				<li><a href="https://twitter.com/trippruitt" target="_blank">Twitter</a></li>
			</ul>
		</div>
	</div><!-- /.row -->
</footer>
