<div id="about">
	<div class="row expanded">
		<div class="small-12 large-10 large-offset-2 columns">
			<div class="row wrapAbout">
				<div class="medium-4 large-3 show-for-medium columns">
					<div class="wrapProfileImg">
						<img src="https://res.cloudinary.com/tripstar/image/upload/v1501592883/trip_pruitt_ts8z9y.png" class="hidden" alt="trip pruitt" />
					</div>
				</div>
				<div id="wrapAboutContent" class="small-12 medium-8 large-8 large-offset-1 columns aniY">
					<h2>Trip Pruitt&#58; <span id="desc"></span></h2>
					<p>From inner city Boston to Alabama fraternities, I’ve never found a place I wasn’t able to fit in.</p>
					<p>Product of being a Navy brat, I guess.</p>
					<p>I’m adaptable.</p>
					<p>I’ll booze and grill anywhere and with anyone.</p>
					<p>I approach development the same way.</p>
				</div>
			</div>
		</div>
	</div>
	<trip-skills></trip-skills>
</div><!-- /#about -->
