<div id="about">
	<div class="wrapSkills">
		<div class="row">
			<div class="small-6 medium-4 columns txtCenter">
				<img src="" alt="angular" />
				<h3>Angular<span class="caps">js</span></h3>
			</div>
			<div class="small-6 medium-4 columns txtCenter">
				<img src="" alt="es6 javascript" />
				<h3><span class="caps">es</span>6 JavaScript</h3>
			</div>
			<div class="small-6 medium-4 columns txtCenter">
				<img src="" alt="node.js" />
				<h3>Node.js</h3>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="small-6 medium-4 columns txtCenter">
				<img src="" alt="scss" />
				<h3>Scss</h3>
			</div>
			<div class="small-6 medium-4 columns txtCenter">
				<img src="" alt="html5" />
				<h3><span class="caps">html</span>5</h3>
			</div>
		</div><!-- /.row -->
	</div>
</div><!-- /#about -->
