@import "../../../assets/scss/vars.scss";

header {
	position: relative;
	z-index: 4;
	padding: 20px 0 20px;

	@media (min-width: $screenMD) {
		padding: 30px 0 40px;
	}

	@media (min-width: $screenLG) {
		text-align: center;
	}
}

.wrapLogoPrimary {
	width: 100px;
	display: inline-block;

	@media (min-width: $screenMD) {
		width: 135px;
	}

	img {
		width: 100%;
	}
}

trip-off-canvas-nav {

	@media (min-width: $screenLG) {
		display: none;
	}
}
