<div id="projects" class="row expanded">
	<div class="small-12 large-10 large-offset-2 columns">
		<div class="row">
			<div class="small-12 columns">
				<h2>The Work</h2>
				<ul class="flexWrap">
					<li *ngFor="let item of items | async" class="flexItem">
						<div class="txtCenter">
							<img src="{{item.img}}" alt="{{item.title}}" />
						</div>
						<h3>{{item.title}}</h3>
						<p class="desc">{{item.desc}}</p>
						<p class="skills"><span>Skills used&#58;</span> {{item.tags}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
