<trip-hero></trip-hero>
<main id="wrapContent">
	<div class="row expanded">
		<div class="large-2 columns show-for-large navMain">
			<nav>
				<ul>
					<li><a href="#hero">home</a></li>
					<li><a href="#about">about</a></li>
					<li><a href="#work">work</a></li>
					<li><a href="#contact">contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="small-12 large-10 columns">
			<trip-about></trip-about>
			<trip-work></trip-work>
		</div>
	</div><!-- /.row.expanded -->
	<trip-footer></trip-footer>
</main>
